.hero-layout {
  display: flex; /* Horizontal layout for Navbar and Hero content */
  height: 100vh; /* Full height of the viewport */
}

.hero-content {
  flex: 1; /* Take the remaining space */
  padding: 20px;
  color: white;
  font-family: "Jost", sans-serif;
  background-color: white;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hero-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.hero-buttons {
  display: flex;
  gap: 10px;
}

.hero-buttons button {
  background-color: #3968A6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.hero-buttons button:hover {
  background-color: #2f568a;
}


.overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview-title {
  text-align: left;
  margin: 5px 10px;
  color: #3968A6;
}

/* .headerLinks-list {
  display: flex;
  gap: 20px;
} */

.status-header {
  text-align: left;
  color: #3968A6;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.hr-element {
  border: 1.5px solid #3968A6;
}

/* .headerLinks-list li {
  list-style: none;
  font-size: 16px;
} */

.overview-item {
  background-color: #3968A6;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px;
  flex: 1;
  border: 2px solid hsl(0, 0%, 100%);
}

.hero-user {
  background-color: #3968A6;
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px 10px;
  border-radius: 10px;
  /* margin: 0; */
  display: inline-block;
}

.overview-item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.overview-item p {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0;
  text-align: left;
}

.status {
  padding: 20px;
  border-radius: 10px;
}

.status h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  color: ;
}

.tabs button {
  background-color: #3968A6;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

/* .tabs button:hover {
  background-color: #6d4ca5;
} */

.tabs .active-tab {
  background-color: #ffffff;
  color: #3968A6;
}

.simulations {
  background-color: #3968A6;
  border-radius: 10px;
  border: 2px solid #ffffff;
  margin-bottom: 20px;
  text-align: left;
}

.simulation {
  background-color: #3968A6;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.simulation h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.simulation p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-top: 0;
  color: #ffffff;
}

.new-simulation-btn {
  background-color: #3b5998;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
}

.new-simulation-btn:hover {
  background-color: #4c6fb8;
}

.simulation-info {
  display: flex;
  flex-direction: column;
}
