html, body{
    height:100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.forceResults-layout {
    display:flex;
    background-color: #ffffff
}

.force-results-content{
    background-color: #D9D9D9;
    height: 400px;
    width: 500px;
}

.forceResults-body-container {
    display:grid;
    margin: 0 auto
}

.row {
    display:flex;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0 10px;
    box-sizing: border-box;
    
}

.table {
    width: 100%;
    min-width: 600px; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    background-color: white;
    border-collapse: seperate; 
    border-radius:20px;
    border-spacing: 0;
}

.table thead tr {
    background-color: #3968A6;
    color: white;
    font-weight: bold;
    border-radius: 20px
}

.forceResults-table {
    margin: 0 auto;
    border-radius: 20px;
    height: 100%;
    width: 80%;
}

.table th, .table td {
    padding: 10px 18px;
    text-align: left;
    font-size: 0.95rem;
    border-bottom: 1px solid #000000;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

th {
    background-color: #3968A6;
    opacity: 0.7;
    border: 1px solid black;
}

table tbody {
    border: 1px solid black;
}

.table-headings {
    background-color: #3968A6;
    opacity: 0.7;
    border-radius:20px;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

.force-results-container{
    display:flex;
    margin: 20px;
}

.job-context {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    overflow: visible;
}

.job-context-container {
    position: relative;
    width: 300px;
    height: 140px;
    background-color: #3968A6;
    opacity: 0.8;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 2rem 1rem 1rem 1rem; 
    overflow: visible;
}

.job-context-container:hover {
    background-color: #3968A6;
    opacity: 0.7;
    cursor: default;
    display:flex;
}

.job-context-icon{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}

.top-navigation-container{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    position: relative;

}

.top-nav-links-container {
    display:flex;
    gap: 30px;
    justify-content: flex-start;
    align-items:flex-start;
    position:relative;
}

.profile-container {
    display:flex;
}

.profile-btn{
    background-color: #3968A6;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
}

.nav-item {
    position:relative;
    cursor: pointer;
}

.nav-item:hover::before {
  content: "";
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 3%;
  height: 6px;
  background-color:#3968A6;
  border-radius: 4px;
  opacity: 0.8;
}
